In [46]:
%matplotlib inline
%matplotlib notebook

In [47]:
import os 
import pickle

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading In Data

In [48]:
PATH = os.path.abspath(os.path.join(os.path.dirname("."), "Data"))
FINAL_DATA = os.path.join(PATH, "finaldataframecopy_wWeather.csv")

FINAL_DATA

'/Users/wrangamujadidi/Desktop/Capstone/capstone_opioid/Data/finaldataframecopy_wWeather.csv'

In [49]:
data = pd.read_csv(FINAL_DATA)

In [50]:
data.head()

,HexagonNumber,HexandMonth,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1-1,1,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,1-2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,1-3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,1-4,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,1-5,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [51]:
data.describe()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,TotalNarcan,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
count,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,...,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000
mean,394.000000,6.500000,0.015883,0.022448,0.051249,0.048496,0.105252,0.064380,0.013130,0.320839,...,16.958810,0.747776,11.756459,39.989199,22.361817,7.611923,62.042202,0.564315,0.002438,0.108597
std,227.199177,3.452235,0.134811,0.173800,0.253159,0.254118,0.405587,0.317324,0.120173,0.899707,...,33.211673,1.717999,15.060160,54.519160,29.663439,12.313524,15.916409,0.054384,0.002544,0.089502
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.407500,0.458571,0.000000,0.000000
25%,197.000000,3.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,51.895536,0.538839,0.000424,0.035500
50%,394.000000,6.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.000000,0.000000,6.000000,17.000000,10.000000,2.000000,60.811429,0.567321,0.001407,0.085000
75%,591.000000,9.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,1.000000,17.000000,59.000000,33.000000,11.000000,78.032857,0.582143,0.004048,0.167000
max,787.000000,12.000000,3.000000,4.000000,6.000000,4.000000,6.000000,6.000000,3.000000,11.000000,...,460.000000,24.000000,122.000000,467.000000,247.000000,115.000000,84.563929,0.676786,0.007686,0.542000

In [52]:
#Drop the columns for HexandMonth and TotalNarcan.  HEXandMonth is not needed and TotalNarcan may cause bias because
#the Narcan Administered already accounts for the TotalNarcan for the month. 

data = data.drop(['HexandMonth'], axis=1)
data = data.drop(['TotalNarcan'], axis=1)

In [53]:
data.head()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,NarcanAdministered,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [54]:
data.columns

Index(['HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'NarcanAdministered', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'],
      dtype='object')

In [55]:
#load in the columns as features.  Deleted the HexagonNumber, ages, gender, weather and unemployment 
#because they were causing the model to be predictive and give us perfect scores 

features = data [[
   'Month','MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 10)
(9444,)

# Train Test Split

In [56]:
from sklearn.model_selection import train_test_split as tts 

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

# K Neighbors

In [57]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [58]:

from sklearn.metrics import classification_report
y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.81      0.94      0.87      1529
          1       0.14      0.04      0.06       360

avg / total       0.68      0.77      0.72      1889

In [59]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [60]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.81      1.00      0.89      1529
          1       0.67      0.01      0.01       360

avg / total       0.78      0.81      0.73      1889

# Regularization with Lasso, Ridge and ElasticNet

In [61]:
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [62]:
#Regularization using Lasso
"""Perform Regularization Techniques for feature selection"""

from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.feature_selection import SelectFromModel

model = Lasso(alpha=0.2)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('Month', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', 0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', -0.0), ('QOLCalls', 6.4883602392496e-05), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0)]

In [63]:
model = Lasso(alpha=0.05)
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['PropertyCalls', 'QOLCalls']

In [64]:
model = Ridge()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('Month', 0.002614466572196494), ('MPDCalls', 0.0009904947976399898), ('FEMSCalls', 0.0012137583605246862), ('MedicalCalls', -0.0014476708015327977), ('MiscCals', -0.0010714520230508983), ('OverdoseCalls', 0.007340619247404985), ('PropertyCalls', -0.0022346651915442963), ('QOLCalls', -0.00038257806260807525), ('TrafficCalls', -0.00046305865928176733), ('ViolentCalls', 0.0004049087641970936)]

In [65]:
model = Ridge()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['Month', 'OverdoseCalls', 'PropertyCalls']

In [66]:
model = ElasticNet(l1_ratio=0.10)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('Month', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', -0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', -0.0), ('QOLCalls', 9.850087747089478e-05), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0)]

In [67]:
model = ElasticNet()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['MPDCalls']

In [68]:
#load in the columns as features.  Deleted the HexagonNumber, ages, gender, weather and unemployment 
#because they were causing the model to be predictive and give us perfect scores 

features = data [[
   'Month', 'OverdoseCalls', 'PropertyCalls'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 3)
(9444,)

In [69]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [70]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.81      1.00      0.89      1529
          1       0.67      0.01      0.01       360

avg / total       0.78      0.81      0.73      1889

# K5 and K15 Neighbors with all the Features

In [71]:
features = data [[
    'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 24)
(9444,)

In [72]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [73]:
from sklearn.metrics import classification_report

In [74]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [75]:
y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.95      0.89      1533
          1       0.49      0.22      0.31       356

avg / total       0.77      0.81      0.78      1889

In [76]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [77]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.83      0.98      0.90      1533
          1       0.59      0.14      0.22       356

avg / total       0.78      0.82      0.77      1889