In [1]:
%matplotlib inline
%matplotlib notebook

In [2]:
import os 
import pickle

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading In Data

In [3]:

PATH = os.path.abspath(os.path.join(os.path.dirname("."), "Data"))
FINAL_DATA = os.path.join(PATH, "Sample_Size_1661.csv")

FINAL_DATA

'/Users/wrangamujadidi/Desktop/Capstone/capstone_opioid/Data/Sample_Size_1661.csv'

In [4]:
data = pd.read_csv(FINAL_DATA)

In [5]:
data.head()

,HexagonNumber,HexandMonth,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,32,32-1,1,0,0,1,1,0,0,0,...,21,2,23,71,47,18,37.4075,0.541429,0.00025,0.071667
1,33,33-1,1,0,0,0,2,0,0,0,...,30,2,23,83,35,29,37.4075,0.541429,0.00025,0.255000
2,35,35-1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.139500
3,36,36-1,1,0,0,0,0,0,0,0,...,3,0,3,10,4,4,37.4075,0.541429,0.00025,0.192000
4,43,43-1,1,0,0,0,0,0,0,1,...,25,0,40,76,44,3,37.4075,0.541429,0.00025,0.078750

In [6]:
data.describe()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,TotalNarcan,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
count,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,...,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000,3322.000000
mean,368.743829,6.570138,0.045154,0.063817,0.145695,0.137869,0.299217,0.183022,0.037327,0.912101,...,17.806442,0.814570,11.678206,41.313666,22.822697,7.968092,64.448655,0.567246,0.002678,0.106817
std,196.305659,3.407581,0.224398,0.288529,0.410449,0.413873,0.640070,0.514389,0.200400,1.327486,...,35.570409,1.859712,14.849998,56.737941,30.282254,13.015783,14.909897,0.057652,0.002781,0.087368
min,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.407500,0.458571,0.000000,0.000000
25%,212.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,54.687857,0.531071,0.000250,0.035500
50%,350.500000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,6.000000,0.000000,7.000000,18.000000,11.000000,2.000000,63.496429,0.570714,0.001136,0.085750
75%,517.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,23.000000,1.000000,17.000000,60.000000,34.000000,11.000000,78.354286,0.586429,0.005382,0.165000
max,780.000000,12.000000,3.000000,4.000000,6.000000,4.000000,6.000000,6.000000,3.000000,11.000000,...,448.000000,24.000000,122.000000,467.000000,247.000000,115.000000,84.563929,0.676786,0.007686,0.542000

In [7]:
#Drop the columns for HexandMonth and TotalNarcan.  HEXandMonth is not needed and TotalNarcan may cause bias because
#the Narcan Administered already accounts for the TotalNarcan for the month. 

data = data.drop(['HexandMonth'], axis=1)
data = data.drop(['TotalNarcan'], axis=1)

In [8]:
data.head()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,NarcanAdministered,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,32,1,0,0,1,1,0,0,0,1,...,21,2,23,71,47,18,37.4075,0.541429,0.00025,0.071667
1,33,1,0,0,0,2,0,0,0,1,...,30,2,23,83,35,29,37.4075,0.541429,0.00025,0.255000
2,35,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.139500
3,36,1,0,0,0,0,0,0,0,0,...,3,0,3,10,4,4,37.4075,0.541429,0.00025,0.192000
4,43,1,0,0,0,0,0,0,1,1,...,25,0,40,76,44,3,37.4075,0.541429,0.00025,0.078750

In [9]:
data.columns

Index(['HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'NarcanAdministered', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'],
      dtype='object')

In [10]:
#load in the columns as features.  Deleted the HexagonNumber, ages, gender, weather and unemployment 
#because they were causing the model to be predictive and give us perfect scores 

features = data [[
   'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'NarcanAdministered', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(3322, 25)
(3322,)

# Train Test Split

In [11]:
from sklearn.model_selection import train_test_split as tts 

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

# K Neighbors

In [12]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:

from sklearn.metrics import classification_report
y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.58      0.60      0.59       325
          1       0.61      0.59      0.60       340

avg / total       0.59      0.59      0.59       665

In [14]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [15]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.55      0.58      0.56       325
          1       0.58      0.56      0.57       340

avg / total       0.57      0.57      0.57       665

# Regularization with Lasso, Ridge and ElasticNet

In [16]:
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [17]:
#Regularization using Lasso
"""Perform Regularization Techniques for feature selection"""

from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.feature_selection import SelectFromModel

model = Lasso(alpha=0.2)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00031456166212398133), ('Month', 0.0), ('Under20', 0.0), ('20to29', 0.0), ('30to39', 0.0), ('40to49', 0.0), ('50to59', 0.0), ('60to69', 0.0), ('70andabove', 0.0), ('NarcanAdministered', 0.04818590920925386), ('Male', 0.09582548103092856), ('Female', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', -0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', 0.0), ('QOLCalls', 2.067091873058908e-05), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0), ('AverageTemperature', 0.002322238999948682), ('AverageHumidity', 0.0), ('AveragePrecipitation', -0.0), ('Unemployment', -0.0)]

In [18]:
model = Lasso(alpha=0.05)
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'NarcanAdministered', 'Male', 'AverageTemperature']

In [19]:
model = Ridge()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -3.279883596298111e-07), ('Month', -2.584764909320499e-06), ('Under20', 0.0003278939321726243), ('20to29', 0.0005739479843392872), ('30to39', 0.0007089007235116907), ('40to49', 0.0005284046379331075), ('50to59', 0.000545054986926902), ('60to69', 0.0004341537280659633), ('70andabove', 0.0007689491699049621), ('NarcanAdministered', 0.9976614018501545), ('Male', 4.605760666011932e-05), ('Female', 0.00012185211390981231), ('MPDCalls', 1.0283113987436738e-06), ('FEMSCalls', 3.3468224303620783e-06), ('MedicalCalls', -3.4003862565725305e-06), ('MiscCals', -1.3910092992968713e-06), ('OverdoseCalls', 1.0189463313418113e-05), ('PropertyCalls', -5.630447341331827e-07), ('QOLCalls', -4.5989062644120466e-07), ('TrafficCalls', -9.885366621186754e-07), ('ViolentCalls', 1.623153053295412e-07), ('AverageTemperature', 2.029289460663451e-06), ('AverageHumidity', 0.0005708002546192406), ('AveragePrecipitation', -4.456049510590696e-06), ('Unemployment', -0.00018161553528620822)]

In [20]:
model = Ridge()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['NarcanAdministered']

In [21]:
model = ElasticNet(l1_ratio=0.10)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.0003123961243493826), ('Month', 0.0), ('Under20', 0.0), ('20to29', 0.0), ('30to39', 0.0), ('40to49', 0.0), ('50to59', 0.0), ('60to69', 0.0), ('70andabove', 0.0), ('NarcanAdministered', 0.09778738990227606), ('Male', 0.09403914972354713), ('Female', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', -0.0), ('MiscCals', -0.00016730218201419064), ('OverdoseCalls', 0.0), ('PropertyCalls', 0.0), ('QOLCalls', 0.00011434931069984138), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0), ('AverageTemperature', 0.0026559150185317794), ('AverageHumidity', 0.0), ('AveragePrecipitation', -0.0), ('Unemployment', -0.0)]

In [22]:
model = ElasticNet()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'AverageTemperature']

In [23]:
#load in the columns as features.  Deleted the HexagonNumber, ages, gender, weather and unemployment 
#because they were causing the model to be predictive and give us perfect scores 

features = data [[
   'Month', 'OverdoseCalls', 'PropertyCalls'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(3322, 3)
(3322,)

In [24]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [25]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.55      0.58      0.56       325
          1       0.58      0.56      0.57       340

avg / total       0.57      0.57      0.57       665

# K5 and K15 Neighbors with all the Features

In [26]:
features = data [[
    'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(3322, 24)
(3322,)

In [27]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [28]:
from sklearn.metrics import classification_report

In [29]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [30]:
y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.58      0.63      0.60       319
          1       0.63      0.58      0.60       346

avg / total       0.60      0.60      0.60       665

In [31]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [32]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.55      0.60      0.58       319
          1       0.60      0.55      0.58       346

avg / total       0.58      0.58      0.58       665

In [34]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

0.601503759398
[[201 118]
 [147 199]]
             precision    recall  f1-score   support

          0       0.58      0.63      0.60       319
          1       0.63      0.58      0.60       346

avg / total       0.60      0.60      0.60       665