In [56]:
%matplotlib inline
%matplotlib notebook

In [57]:
import os 
import pickle

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading In Data

In [58]:
PATH = os.path.abspath(os.path.join(os.path.dirname("."), "Data"))
FINAL_DATA = os.path.join(PATH, "finaldataframecopy_wWeather.csv")

FINAL_DATA

'/Users/wrangamujadidi/Desktop/Capstone/capstone_opioid/Data/finaldataframecopy_wWeather.csv'

In [59]:
data = pd.read_csv(FINAL_DATA)

In [60]:
data.head()

,HexagonNumber,HexandMonth,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1-1,1,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,1-2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,1-3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,1-4,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,1-5,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [61]:
data.describe()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,TotalNarcan,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
count,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,...,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000
mean,394.000000,6.500000,0.015883,0.022448,0.051249,0.048496,0.105252,0.064380,0.013130,0.320839,...,16.958810,0.747776,11.756459,39.989199,22.361817,7.611923,62.042202,0.564315,0.002438,0.108597
std,227.199177,3.452235,0.134811,0.173800,0.253159,0.254118,0.405587,0.317324,0.120173,0.899707,...,33.211673,1.717999,15.060160,54.519160,29.663439,12.313524,15.916409,0.054384,0.002544,0.089502
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.407500,0.458571,0.000000,0.000000
25%,197.000000,3.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,51.895536,0.538839,0.000424,0.035500
50%,394.000000,6.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.000000,0.000000,6.000000,17.000000,10.000000,2.000000,60.811429,0.567321,0.001407,0.085000
75%,591.000000,9.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,1.000000,17.000000,59.000000,33.000000,11.000000,78.032857,0.582143,0.004048,0.167000
max,787.000000,12.000000,3.000000,4.000000,6.000000,4.000000,6.000000,6.000000,3.000000,11.000000,...,460.000000,24.000000,122.000000,467.000000,247.000000,115.000000,84.563929,0.676786,0.007686,0.542000

In [62]:
#Drop the columns for HexandMonth and TotalNarcan.  HEXandMonth is not needed and TotalNarcan may cause bias because
#the Narcan Administered already accounts for the TotalNarcan for the month. 

data = data.drop(['HexandMonth'], axis=1)
data = data.drop(['TotalNarcan'], axis=1)

In [63]:
data.head()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,NarcanAdministered,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [64]:
data.columns

Index(['HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'NarcanAdministered', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'],
      dtype='object')

In [69]:
features = data [[
    'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 24)
(9444,)

# Train Test Split

In [70]:
from sklearn.model_selection import train_test_split as tts 

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

# K Neighbors

In [71]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn10 = KNeighborsClassifier(n_neighbors=5)
knn10.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [72]:
y_pred = knn10.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.86      0.95      0.90      1564
          1       0.48      0.24      0.32       325

avg / total       0.79      0.82      0.80      1889

In [73]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [74]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.98      0.91      1564
          1       0.53      0.12      0.20       325

avg / total       0.79      0.83      0.78      1889

# Regularization with Lasso, Ridge and ElasticNet

In [75]:
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [77]:
#Regularization using Lasso

model = Lasso()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00014975301215764032), ('Month', 0.0), ('Under20', 0.0), ('20to29', 0.0), ('30to39', 0.0), ('40to49', 0.0), ('50to59', 0.0), ('60to69', 0.0), ('70andabove', 0.0), ('Male', 0.0), ('Female', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', 0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', 0.0), ('QOLCalls', 0.0), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0), ('AverageTemperature', 0.0), ('AverageHumidity', 0.0), ('AveragePrecipitation', 0.0), ('Unemployment', -0.0)]

In [78]:
model = Lasso(alpha=0.1)
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']

In [79]:
model = Ridge()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -7.035975470650724e-05), ('Month', -0.00048588334991467194), ('Under20', 0.17699829327180044), ('20to29', 0.31450972852877673), ('30to39', 0.38754014952591936), ('40to49', 0.29065616590264903), ('50to59', 0.2992330279421151), ('60to69', 0.23791173471570093), ('70andabove', 0.4127958009872702), ('Male', 0.020209295204038327), ('Female', 0.061564979533682285), ('MPDCalls', 2.3995658594103203e-05), ('FEMSCalls', 0.0005992412362449308), ('MedicalCalls', -0.0005124795681971912), ('MiscCals', -2.9182487954286124e-05), ('OverdoseCalls', 0.0012958969213464446), ('PropertyCalls', -0.00040837220703219336), ('QOLCalls', 0.0002773742587651918), ('TrafficCalls', -0.0004236028385107806), ('ViolentCalls', 0.00010896963324936956), ('AverageTemperature', 0.0008942058185973536), ('AverageHumidity', 0.07705526559508703), ('AveragePrecipitation', 0.16498848626989374), ('Unemployment', -0.05973883944601209)]

In [80]:
model = Ridge()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['Under20', '20to29', '30to39', '40to49', '50to59', '60to69', '70andabove', 'AveragePrecipitation']

In [81]:
model = ElasticNet(l1_ratio=0.10)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00021219814131857737), ('Month', 0.0), ('Under20', 0.0), ('20to29', 0.0), ('30to39', 0.0), ('40to49', 0.0), ('50to59', 0.0), ('60to69', 0.0), ('70andabove', 0.0), ('Male', 0.06509161810561387), ('Female', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', -0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', -0.0), ('QOLCalls', 4.8852339877658284e-05), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0), ('AverageTemperature', 0.002674242826469309), ('AverageHumidity', 0.0), ('AveragePrecipitation', 0.0), ('Unemployment', -0.0)]

In [82]:
model = ElasticNet()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'AverageTemperature']

# K5 and K15 Neighbors with all the Features

In [95]:
features = data [[
    'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 24)
(9444,)

In [96]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [97]:
from sklearn.metrics import classification_report

In [87]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [89]:
y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.86      0.94      0.90      1579
          1       0.41      0.22      0.28       310

avg / total       0.79      0.82      0.80      1889

In [90]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [91]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.97      0.91      1579
          1       0.51      0.14      0.22       310

avg / total       0.80      0.84      0.80      1889

# Trying K5 and K15 with the features that were given to us after we used Lasso

In [92]:
features = data [['HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 4)
(9444,)

In [93]:
# Create our first knn model form 
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(X_train, y_train)

y_pred = knn5.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.86      0.94      0.90      1579
          1       0.41      0.22      0.28       310

avg / total       0.79      0.82      0.80      1889

In [94]:
# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.97      0.91      1579
          1       0.51      0.14      0.22       310

avg / total       0.80      0.84      0.80      1889