In [83]:
%matplotlib inline
%matplotlib notebook

In [84]:
import os 
import pickle

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
PATH = os.path.abspath(os.path.join(os.path.dirname("."), "Data"))
FINAL_DATA = os.path.join(PATH, "finaldataframecopy_wWeather.csv")

FINAL_DATA

'/Users/wrangamujadidi/Desktop/Capstone/capstone_opioid/Data/finaldataframecopy_wWeather.csv'

In [86]:
data = pd.read_csv(FINAL_DATA)

In [87]:
data.head()

,HexagonNumber,HexandMonth,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1-1,1,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,1-2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,1-3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,1-4,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,1-5,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [88]:
data.describe()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,TotalNarcan,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
count,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,...,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000,9444.000000
mean,394.000000,6.500000,0.015883,0.022448,0.051249,0.048496,0.105252,0.064380,0.013130,0.320839,...,16.958810,0.747776,11.756459,39.989199,22.361817,7.611923,62.042202,0.564315,0.002438,0.108597
std,227.199177,3.452235,0.134811,0.173800,0.253159,0.254118,0.405587,0.317324,0.120173,0.899707,...,33.211673,1.717999,15.060160,54.519160,29.663439,12.313524,15.916409,0.054384,0.002544,0.089502
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.407500,0.458571,0.000000,0.000000
25%,197.000000,3.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,51.895536,0.538839,0.000424,0.035500
50%,394.000000,6.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.000000,0.000000,6.000000,17.000000,10.000000,2.000000,60.811429,0.567321,0.001407,0.085000
75%,591.000000,9.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,1.000000,17.000000,59.000000,33.000000,11.000000,78.032857,0.582143,0.004048,0.167000
max,787.000000,12.000000,3.000000,4.000000,6.000000,4.000000,6.000000,6.000000,3.000000,11.000000,...,460.000000,24.000000,122.000000,467.000000,247.000000,115.000000,84.563929,0.676786,0.007686,0.542000

In [89]:
#Drop the columns for HexandMonth and TotalNarcan.  HEXandMonth is not needed and TotalNarcan may cause bias because
#the Narcan Administered already accounts for the TotalNarcan for the month. 

data = data.drop(['HexandMonth'], axis=1)
data = data.drop(['TotalNarcan'], axis=1)

In [90]:
data.head()

,HexagonNumber,Month,Under20,20to29,30to39,40to49,50to59,60to69,70andabove,NarcanAdministered,...,MiscCals,OverdoseCalls,PropertyCalls,QOLCalls,TrafficCalls,ViolentCalls,AverageTemperature,AverageHumidity,AveragePrecipitation,Unemployment
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,5,5,0,37.4075,0.541429,0.00025,0.274
1,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
2,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
3,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274
4,1,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,37.4075,0.541429,0.00025,0.274

In [91]:
data.columns

Index(['HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'NarcanAdministered', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'],
      dtype='object')

In [92]:
from sklearn.model_selection import train_test_split as tts 

features = data [[
    'HexagonNumber', 'Month', 'Under20', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70andabove', 'Male',
       'Female', 'MPDCalls', 'FEMSCalls', 'MedicalCalls', 'MiscCals',
       'OverdoseCalls', 'PropertyCalls', 'QOLCalls', 'TrafficCalls',
       'ViolentCalls', 'AverageTemperature', 'AverageHumidity',
       'AveragePrecipitation', 'Unemployment'
]]

X = features

y = data['NarcanAdministered']

print(X.shape)
print(y.shape)

(9444, 24)
(9444,)

In [93]:
features = data [[
    'HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']]

X = features

In [94]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [95]:
data.isnull().sum().sum()

0

In [96]:
list(X)

['HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']

In [97]:
from sklearn.metrics import classification_report

In [109]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn10 = KNeighborsClassifier(n_neighbors=5)
knn10.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [110]:
y_pred = knn10.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.95      0.90      1543
          1       0.56      0.28      0.37       346

avg / total       0.80      0.83      0.80      1889

In [100]:
# Import the neighbors model family 
from sklearn.neighbors import KNeighborsClassifier

# Create our first knn model form 
knn15 = KNeighborsClassifier(n_neighbors=15)
knn15.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [101]:
y_pred = knn15.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.98      0.90      1543
          1       0.63      0.16      0.25       346

avg / total       0.80      0.83      0.78      1889

In [102]:
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [103]:
list(X)

['HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']

In [104]:
#Regularization using Lasso

model = Lasso()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00014975301215764032), ('Male', 0.0), ('QOLCalls', 0.0), ('AverageTemperature', 0.0)]

In [105]:
model = Lasso(alpha=0.1)
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']

In [106]:
model = Ridge()
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00010115427504863052), ('Male', 0.3651056331801309), ('QOLCalls', 3.021171413798942e-05), ('AverageTemperature', 0.001280239944108906)]

In [70]:
model = Ridge()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['Under20', '20to29', '30to39', '40to49', '50to59', '60to69', '70andabove', 'AveragePrecipitation']

In [71]:
model = ElasticNet(l1_ratio=0.10)
model.fit(X, y)
print(list(zip(X, model.coef_.tolist())))

[('HexagonNumber', -0.00021219814131857737), ('Month', 0.0), ('Under20', 0.0), ('20to29', 0.0), ('30to39', 0.0), ('40to49', 0.0), ('50to59', 0.0), ('60to69', 0.0), ('70andabove', 0.0), ('Male', 0.06509161810561387), ('Female', 0.0), ('MPDCalls', 0.0), ('FEMSCalls', 0.0), ('MedicalCalls', 0.0), ('MiscCals', -0.0), ('OverdoseCalls', 0.0), ('PropertyCalls', -0.0), ('QOLCalls', 4.8852339877658284e-05), ('TrafficCalls', 0.0), ('ViolentCalls', 0.0), ('AverageTemperature', 0.002674242826469309), ('AverageHumidity', 0.0), ('AveragePrecipitation', 0.0), ('Unemployment', -0.0)]

In [72]:
model = ElasticNet()
sfm = SelectFromModel(model)
sfm.fit(X, y)
print(list(X[sfm.get_support(indices=True)]))

['HexagonNumber', 'AverageTemperature']

In [73]:
features = data [[
    'HexagonNumber', 'Male', 'QOLCalls', 'AverageTemperature']]